@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  direction: rtl;
  height: 100vh;
}

#__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

input,
textarea {
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

dialog {
  background-color: gray;
  color: black;
  text-align: center;
  border: none;
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 90vw;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

dialog[open] {
  animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog::backdrop {
  background: linear-gradient(
    45deg,
    rgba(0, 143, 104, 0.5),
    rgba(250, 224, 66, 0.5)
  );
}

header {
  padding: 20px 40px;
  width: 100%;
  height: 80px;
  background: #6971e0;
  background: linear-gradient(90deg, #6971e0 12%, #5157ad 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 24px;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: underline;
  transition: all 200ms;
}

a:hover {
  text-decoration: none;
}

main {
  padding: 20px 80px;
  display: grid;
  grid-template-columns: 200px 1fr;
  flex: 1;
}

aside {
  border-radius: 8px;
  padding: 12px;
}

.grid-container {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
}

form {
  max-width: 700px;
}

fieldset {
  border: none;
  padding: 20px 0;
}

fieldset input {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  padding: 8px 12px;
}

.board-url-notice {
  background-color: #b1b4e6;
  padding: 20px 36px;
  margin-bottom: 20px;
}

.category-form-input-group input {
  width: 80px;
  font-size: 16px;
  padding: 8px 12px;
  margin-left: 8px;
}

form button {
  margin-top: 24px;
  padding: 16px 32px;
  background: #2e3161;
  color: white;
}

form button:focus-within {
  background: #6971e0;
  transition: 200ms ease;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}
